In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv("splited_final.csv")

In [3]:
df

,PID,SLHC,HST,HCT,MCV,MCH,MCHC,RDWCV,SLTC,SLBC,...,HBA1,HBA2,HBE,HBF,sheet,inyear,label,Age,sex,train
0,10000354,3.96,89.0,0.286,72.200000,22.500000,311.0,26.3,554.0,10.240000,...,NaN,NaN,NaN,NaN,d4,2015.0,1.0,1981,M,1
1,10000354,3.96,94.0,0.295,74.400000,23.700000,318.0,NaN,440.0,8.390000,...,NaN,NaN,NaN,NaN,d4,2016.0,1.0,1981,M,1
2,10000354,3.30,74.0,0.246,74.500000,22.400000,300.0,25.6,547.0,16.000000,...,NaN,NaN,NaN,NaN,d4,2017.0,1.0,1981,M,1
3,10000354,3.86,89.0,0.281,72.800000,22.900000,315.0,23.4,464.0,8.220000,...,NaN,NaN,NaN,NaN,d4,2020.0,1.0,1981,M,1
4,10000354,3.72,87.0,0.292,78.400000,23.400000,298.0,22.5,503.0,9.230000,...,NaN,NaN,NaN,NaN,d4,2018.0,1.0,1981,M,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30058,16041009,4.95,138.0,0.433,87.400002,27.900000,318.0,13.0,281.0,7.490000,...,97.69999694824219,2.299999952316284,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0
30059,16041012,5.37,140.0,0.455,84.699997,26.000000,307.0,13.600000381469727,172.0,6.440000,...,95.4000015258789,4.599999904632568,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0
30060,16042156,5.85,107.0,0.345,59.000000,18.299999,310.0,15.800000190734863,286.0,9.580000,...,98.30000305175781,1.7000000476837158,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0
30061,16045512,2.26,53.0,0.167,74.099998,23.400000,316.0,33.29999923706055,272.0,26.059999,...,78.5,2.4000000953674316,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0
30062,16056570,3.97,96.0,0.287,72.400002,24.200001,334.0,27.200000762939453,451.0,10.810000,...,70.69999694824219,2.5999999046325684,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0

In [5]:
pd.get_dummies(df.sex, prefix='sex')

       sex_F  sex_M
0          0      1
1          0      1
2          0      1
3          0      1
4          0      1
...      ...    ...
30058      0      0
30059      0      0
30060      0      0
30061      0      0
30062      0      0

[30063 rows x 2 columns]